.bg-weather {
    width: 100%;
    height: 100vh !important;
  background-image: url(../../images/sky2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom:72px;
  overflow-y: scroll;

}

